<h2><%= @message %></h2>

<button><%= link_to 'Room 2', room2_path %></button>
<button><%= link_to 'Room 3', room3_path %></button>
<button><%= link_to 'Room 4', room4_path %></button>


<%= $state %>