<h2><%= @message %></h2>

<input type="text" name="passphrase">
<button><%= link_to 'Passphrase', passphrase_room5_path %></button>
<button><%= link_to 'Attack', attack_room5_path %></button>
<button><%= link_to 'Look', look_room5_path %></button>

<%= $state %>