<p id="notice"><%= notice %></p>

<p>
  <strong>New Location:</strong>
  <%= @mapspace.south_adjoin %>
</p>

<p>
  <strong>Area Description:</strong>
  <%= @mapspace.name %>
<p>
  <strong>Longitude:</strong>
  <%= @mapspace.longitude %>
</p>

<p>
  <strong> Latitude:</strong>
  <%= @mapspace.latitude %>
</p>

<%= link_to 'Back', mapspaces_path %>



