<h2>Area: <%= @location %></h2>
<h2>You find yourself <%= @message %></h2>
<h2>Latitude <%= @latitude %></h2>
<h2>Longitude <%= @longitude %></h2>

<button><%= link_to 'North', north_path %></button>
<button><%= link_to 'South', south_path %></button>
<button><%= link_to 'East', east_path %></button>
<button><%= link_to 'West', west_path %></button>
<button><%= link_to 'Start', start_path %></button>

